.navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.item {
  user-select: none;
  cursor: pointer;
}
.item:hover {
  text-decoration: underline;
}