:root {
  --blue: #007bff;
  --radius: .5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OCR A, Consolas;
}
body, html {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 70%;
  max-width: 950px;
  height: 100%;
}


.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.gap-1 {
  gap: .25rem;
}
.gap-2 {
  gap: .5rem;
}